*{
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{

    margin:0;
    height:100vh;
    background:#111827;
    color:white;

}



.loading{

    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:
    linear-gradient(
    135deg,
    #0b1d33,
    #1e3a5f
    );

}



.loading h1{

    font-size:40px;

}



.loader{

    margin-top:30px;
    width:250px;
    height:8px;
    background:#333;
    border-radius:10px;
    overflow:hidden;

}



.loader::after{

    content:"";
    display:block;
    height:100%;
    width:50%;

    background:#d4af37;

    animation:load 1.5s infinite;

}



@keyframes load{

0%{

transform:translateX(-100%);

}


100%{

transform:translateX(250%);

}


}




.home{

    display:none;
    text-align:center;
    padding-top:100px;

}



.home h1{

    font-size:45px;
    letter-spacing:3px;

}



.home p{

    font-size:22px;

}




.choices{

    margin-top:60px;

    display:flex;
    justify-content:center;
    gap:50px;

}



.choices a{

    width:220px;
    height:180px;

    display:flex;
    justify-content:center;
    align-items:center;

    flex-direction:column;

    text-decoration:none;

    color:white;

    background:#1f2937;

    border:2px solid #d4af37;

    border-radius:20px;

    font-size:28px;

    transition:.3s;

}



.choices a:hover{

    transform:scale(1.08);

    background:#374151;

}
