body{
background:#111;
color:white;
font-family:Arial;
margin:0;
}

header{
background:#1b263b;
padding:20px;
text-align:center;
}

nav{
display:flex;
gap:10px;
padding:20px;
}

button{
background:#415a77;
color:white;
border:none;
padding:12px;
cursor:pointer;
}

section{
padding:20px;
}

input{
padding:10px;
width:300px;
}

.fiche{
background:#222;
border:1px solid #555;
padding:15px;
margin:10px;
}
